<div class="flex min-h-full items-center justify-center py-16 px-10 mx-96 mt-40 sm:px-10 lg:px-36  bg-gray-900 rounded-3xl">
  <div class="w-full max-w-md space-y-8 pb-8">
    <form class="mt-8 space-y-6" [formGroup]="formLogin" (ngSubmit)="login()" >
      <div class="-space-y-px rounded-md shadow-sm ">
        <div>
          <label class="block mb-2 text-sm font-medium text-white dark:text-white">E-mail:</label>
          <input type="email" formControlName="login" autocomplete="email" required class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="email@exemplo.com">
        </div>
        <div>
          <label class="pt-8 block mb-2 text-sm font-medium text-white dark:text-white">Senha:</label>
          <input type="password" formControlName="senha" autocomplete="current-password" required class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="senha">
        </div>
      </div>

      <div>
        <button [disabled]="!formLogin.valid" type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>